<header>
  <h1>Your Shopping Cart</h1>
</header>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Title</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of carts">
        <td class="cart-item">
          <img
            src="assets/images/laptop2.png"
            alt="Product 1"
            class="product-image"
          />
        </td>
        <td>{{ cart.title }}</td>
        <td class="quantity">
          <div class="mt-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  class="btn "
                  type=""
                  id="minusBtn"
                  (click)="decrement(cart.id,cart.count,cart.gadgetId)"
                >
                  -
                </button>
              </div>
              <input
                type="text"
                [value]="cart.count"
                id="numberInput"
              /> 
              <div class="reduce">
              <div class="input-group-append">
                <button
                class="btn"
                type="button"
                id="plusBtn"
                  (click)="increment(cart.id,cart.count,cart.gadgetId)"
                >
                  +
                </button>
              </div>
              </div>
            </div>
          </div>
        </td>
        <td class="total-price">{{ cart.price*cart.count }}</td>
        <td class="" (click)="onDelete(cart.userId, cart.gadgetId)">
          <i class="fa-solid fa-trash"></i>
        </td>
      </tr>

      <!-- Add more rows for additional products -->
    </tbody>
  </table>

  <a
    href="#"
    class="checkout-btn"
    data-bs-toggle="modal" 
    data-bs-target="#exampleModalCenter"
    
    (click)="checkOut()"
    >Proceed to Checkout</a
  >
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="street">Street:</label>
          <input type="text" class="form-control" id="street" name="street">
      </div>
      <div class="form-group">
          <label for="city">City:</label>
          <input type="text" class="form-control" id="city" name="city">
      </div>
      <div class="form-group">
          <label for="state">State:</label>
          <input type="text" class="form-control" id="state" name="state">
      </div>
      <div class="form-group">
          <label for="zipCode">Zip Code:</label>
          <input type="text" class="form-control" id="zipCode" name="zipCode">
      </div>
      <table>
      <tr>
        <th>Product</th>
        <th>Title</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
      <tr>
        <td ><img
          src="assets/images/laptop2.png"
          alt="Product 1"
          class="product-image"></td>
          <td>Levono</td>
          <td>9</td>
          <td>1000</td>

      </tr>
      </table>
  

      </div>
      <div class="modal-footer">
      <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/order"
          routerLinkActive="active">Close</button> -->
        <button type="button" class="btn btn-primary"data-bs-dismiss="modal" routerLink="/order"
        routerLinkActive="active">confirm order</button>
      </div>
    </div>
  </div>
</div>
