<header>
    <h1>Your Shopping Cart</h1>
  </header>

  <div class="container">

    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cart of carts">
          <td class="cart-item" >
            <img src="https://i.ibb.co/rygRLTd/product02.png" alt="Product 1" class="product-image">
          </td>
          <td>{{cart.title}}</td>
          <td class="quantity"><input type="number" value="2" min="10"></td>
          <td class="total-price">{{cart.price}}</td>
        </tr>
        

      
        <!-- Add more rows for additional products -->
      </tbody>
    </table>

    <a href="#" class="checkout-btn"routerLink="/order"
    routerLinkActive="active" (click)="checkOut()" >Proceed to Checkout</a>

  </div>