<header>
  <h1>Your Shopping Cart</h1>
</header>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of carts">
        <td class="cart-item">
          <img
            src="assets/images/laptop2.png"
            alt="Product 1"
            class="product-image"
          />
        </td>
        <td>{{ cart.title }}</td>
        <td class="quantity">
          <div class="mt-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  class="btn "
                  type=""
                  id="minusBtn"
                  (click)="decrement(cart.id,cart.count,cart.gadgetId)"
                >
                  -
                </button>
              </div>
              <input
                type="text"
                [value]="cart.count"
                id="numberInput"
              />
              <div class="reduce">
              <div class="input-group-append">
                <button
                class="btn"
                type="button"
                id="plusBtn"
                  (click)="increment(cart.id,cart.count,cart.gadgetId)"
                >
                  +
                </button>
              </div>
              </div>
            </div>
          </div>
        </td>
        <td class="total-price">{{ cart.price*cart.count }}</td>
        <td class="" (click)="onDelete(cart.userId, cart.gadgetId)">
          <i class="fa-solid fa-trash"></i>
        </td>
      </tr>

      <!-- Add more rows for additional products -->
    </tbody>
  </table>

  <a
    href="#"
    class="checkout-btn"
    routerLink="/order"
    routerLinkActive="active"
    (click)="checkOut()"
    >Proceed to Checkout</a
  >
</div>
