<div class="container">
    <div class="login">
       <div class="container">
        <i class="fas fa-user-plus fa-2x"></i>
            <h1 class="item">Register</h1>
            <input type="email" placeholder="Email">
            <input type="email" placeholder="Name">
            <input type="password" placeholder="Password">
            <input type="password" placeholder=" Confirm Password">
            <button>Register</button>
          
       </div>
    </div>
    <div class="register">
        <div class="container">
            <i class="fas fa-user-plus fa-6x"></i>
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button>Login<i class="fas fa-arrow-circle-right"></i></button>
        </div>
    </div>  
  </div>