<h1>Welcome Admin</h1>

      <section
        class="hero"
        id="home"
        style="
        background-image: url(https://c0.wallpaperflare.com/preview/662/807/597/black-and-gray-camera-on-table-near-tablet-keyboard-case.jpg);
        background-size: 100%; /* Adjust the height as needed */
      "
      
      >
        <div class="container">
          <div class="hero-content">
            <!-- <h2 class="h1 hero-title ">Gadget House</h2> -->
            <h2 class="h1 hero-title ">Welcome Admin!!!
</h2>
          
          </div>
        </div>
      </section>

      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card card-single text-center" style="border: solid black">
              <i class="fa-sharp fa-solid fa-users mt-3 fa-2x"></i>
              <span
                routerLink="/user"
                class="fw-bold mt-2"
                style="cursor: pointer; color: brown"
                >USERS!</span
              >
              <h2>{{totalUsers}}</h2>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card card-single text-center" style="border: solid black">
              <i class="fa-sharp fa-solid fa-users mt-3 fa-2x"></i>
              <span
                routerLink="/user"
                class="fw-bold mt-2"
                style="cursor: pointer; color: brown"
                >GADGETS!</span
              >
              <h2>{{totalGadgets}}</h2>
            </div>
          </div>
        </div>
        
      </div>

      
          
      