<header class="nav" *ngIf="isAdmin">
  <div id="header">
    <div class="header-logo">
      <a href="indext.html"><img src="/assets/images/logo.svg" alt="" /></a>
    </div>
    <div class="header-list">
      <nav class="header-list-nav">
        <ul>
          <li>
            <a
              class="fa-solid fa-clock-rotate-left"
              routerLink="/adminorder"
              routerLinkActive="active"
            > Orders</a>
          </li>

          <li>
            <a
              class="fa-solid fa-user"
              routerLink="/adminview"
              routerLinkActive="active"
            > View</a>
          </li>
          <li>
            <a
              class="fa-solid fa-square-plus"
              routerLink="/adminproduct"
              routerLinkActive="active"
            > Product</a>
          </li>
          <li>
            <a
              class="fa-solid fa-right-from-bracket"
              routerLink=""
              routerLinkActive="active"
              (click)="logout()"
              role="button"
            > Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<header class="nav" *ngIf="!isAdmin">
  <div id="header">
    <div class="header-logo">
      <a href="indext.html"><img src="/assets/images/logo.svg" alt="" /></a>
    </div>
    <div class="header-list">
      <nav class="header-list-nav">
        <ul>
          <li><a class="fa-solid fa-house"               
            routerLink="/home"
            routerLinkActive="active"> Home</a></li>

<!-- 
         <li>
            <a
              class="fas fa-cart-plus"

              routerLink="/cart"
              routerLinkActive="active"
            > 
             <span id="cart-count">0</span>
             Cart</a>
            

         </li>  -->
         <!-- <li>
          <a id="cart-icon-container"
          
          routerLink="/cart"
          routerLinkActive="active">
            <!-- <span id="cart-count">  
            </span> -->
            <!-- <i id="cart-icon" class="fa fa-shopping-cart"></i>Cart
          </a>
        
         </li> -->
             
         <li>
          <a
          class="fas fa-cart-plus"
            routerLink="/cart"
            routerLinkActive="active"
          > Cart</a>
        </li>

     
          
         <li>
          <a
          class="fa-solid fa-truck"
            routerLink="/order"
            routerLinkActive="active"
          > Orders</a>
        </li>

          
          <li>
            <a
              class="fa-solid fa-right-from-bracket"
              routerLink=""
              routerLinkActive="active"
              (click)="logout()"
              role="button"
            > Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
