<header>
  <div id="header">
    <div class="header-logo">
      <a href="indext.html"><img src="images/logo.png" alt="" /></a>
    </div>
    <div class="header-list">
      <nav class="header-list-nav">
        <ul>
          <li><a class="fa-solid fa-house"></a></li>
        
          <li><a class="fa-solid fa-user"routerLink="/login" routerLinkActive="active" ></a></li>
          <li><a class="fa-solid fa-cart-shopping"routerLink="/cart" routerLinkActive="active"></a></li>
          <li><a  class="fa-solid fa-right-from-bracket" routerLink="" routerLinkActive="active"></a></li>
        </ul>
      </nav>
    
    </div>
  </div>
</header>