<header class="nav" *ngIf="isAdmin">
  <div id="header">
    <div class="header-logo">
      <a href="indext.html"><img src="/assets/images/logo.svg" alt="" /></a>
    </div>
    <div class="header-list">
      <nav class="header-list-nav">
        <ul>
          <li>
            <a
              class="fa-solid fa-clock-rotate-left"
              routerLink="/adminorder"
              routerLinkActive="active"
            ></a>
          </li>

          <li>
            <a
              class="fa-solid fa-user"
              routerLink="/adminview"
              routerLinkActive="active"
            ></a>
          </li>
          <li>
            <a
              class="fa-solid fa-book"
              routerLink="/adminproduct"
              routerLinkActive="active"
            ></a>
          </li>
          <li>
            <a
              class="fa-solid fa-right-from-bracket"
              routerLink=""
              routerLinkActive="active"
              (click)="logout()"
              role="button"
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<header class="nav" *ngIf="!isAdmin">
  <div id="header">
    <div class="header-logo">
      <a href="indext.html"><img src="/assets/images/logo.svg" alt="" /></a>
    </div>
    <div class="header-list">
      <nav class="header-list-nav">
        <ul>
          <li><a class="fa-solid fa-house"               
            routerLink=""
            routerLinkActive="active"></a></li>

          <li>
            <a
              class="fa-solid fa-user"
              routerLink="/login"
              routerLinkActive="active"
            ></a>
          </li>

          <button class="header-action-btn">
            <i
              class="fas fa-cart-plus"
              routerLink="/cart"
              routerLinkActive="active"
            ></i>
          </button>
          
          
          <li>
            <a
              class="fa-solid fa-right-from-bracket"
              routerLink=""
              routerLinkActive="active"
              (click)="logout()"
              role="button"
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
